.container{
    background-color: rgb(207, 174, 237);
    display: grid;
    height: 200px; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr) ;
    grid-template-areas: 
        "header header header header"
        "aside main  main  main"
        "aside main  main  main"
        "rodolfinho rodolfinho rodolfinho rodolfinho"
;
}
.box1{
    grid-area: header;
    background-color:gold ;
}

.box2{
grid-area: aside;
background-color: blue;
}

.box3{
grid-area: main;
background-color: blueviolet;
}
.box4{
grid-area: rodolfinho;
background-color: aquamarine;
}
