body{
    background-color: rgb(212, 244, 255);
    padding-top: 30px;
}
a{
 color: #32098c;
margin-right: 80px;
 text-decoration: none;
 display: inline-block;
 font-size: 19px;
}
nav{
    text-align: center;
    background-color: aqua;
 border-top: 12px solid aqua;
 border-bottom: 12px solid aqua;
}
nav > a:hover{
color: rgb(179, 107, 202);
background-color: rgb(48, 0, 106);
}
input:focus{
    background-color: rgb(35, 14, 76);
    color: rgb(162, 155, 255);
}
input{
    background-color: aqua;
}
a:active{
    text-decoration: none;
    color: rgb(255, 99, 245);
    font-size: 40px;
}